table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    padding: 8px;
}

td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    overflow-wrap: anywhere;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}
form {
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 20px;
}

label {
margin-bottom: 10px;
}

input {
padding: 5px;
margin-bottom: 10px;
}

button {
padding: 5px 15px;
background-color: #4CAF50;
color: white;
border: none;
border-radius: 4px;
cursor: pointer;
}

button:hover {
background-color: #3e8e41;
}